@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');


html {
  
  /* background-color: lightblue; */
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
/* --------------------------------LOADING PAGE--------------------------------------- */

.loadingPage-wrapper {

  margin-top: 12%;
  text-align: center;
  width: 100%;
  height:100%;
  background-color: oldlace;
}


.loading-header {

  font-size: 2.5rem;
  font-family: 'Love Ya Like A Sister', cursive;
  margin-left: 40px;
}

.loading-btn {

  padding: 10px 10px;
  margin: 0px 5px;
  outline: none;
  border: 3px solid oldlace;
  border-radius: 10px;
  background-color: white;
  font-size: 1.1rem;
  color: gray;
  cursor: pointer;

}
.loading-btn:hover {

  transform: scale(1.1);

}

/* ----------------------------------------------------------------------------------------- */

/* ---------------------------------SIDENAV--------------------------------------------------- */


.sideNav { 
   
   position: fixed;
   left:0%;
   top:0%;
   bottom:0%;
   background-color: rgba(21, 131, 131, 0.733);
   width: 25%;
   
}

.sideNav-menu {
   padding-top: 40px;
  
}

.sideNav-menu li {
  
  margin-top: 20px;
  padding: 7px 5px;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-family: 'Love Ya Like A Sister', cursive;
  cursor: pointer;
}

/* --------------------------------------------------------------------------------------- */

/* ------------------------CONTENT CONTAINER---------------------------------------------- */

.container {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 10vw);
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 25%;
  width: 75%;
  padding: 5px;

}

.img-smaller {
  
 width: 100%;
 height: 100%;
 object-fit: cover;
 border: none;

}

 .img-smaller:hover {
  
 transform: scale(1.2);
 border: 3px solid teal;
 
 }

.img-1 {

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  
  
}

.img-3 {

  grid-row-start: 2;
  grid-row-end: 4;

}

/* .img-7 {

  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
} */

.img-8 {

  grid-row-start: 3;
  grid-row-end: 5;
}

.img-10 {

  grid-row-start: 4;
  grid-row-end: 6;
}

.img-11 {

  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img-12 {

  grid-row-start: 3;
  grid-row-end: 5;
}

.img-13 {

  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;

}
