@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');


html {
  
  height: auto;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.line-break {
  width:60%;
  height: 1px;
  margin: auto;
  background-color: black;
}
/* --------------------------------LOADING PAGE--------------------------------------- */

.loadingPage-wrapper {

  margin-top: 12%;
  text-align: center;
  width: 100%;
  height:100%;
  background-color: oldlace;
}


.loading-header {

  font-size: 2.5rem;
  font-family: 'Love Ya Like A Sister', cursive;
  margin-left: 40px;
}

.loading-btn {

  padding: 10px 10px;
  margin: 0px 5px;
  outline: none;
  border: 3px solid oldlace;
  border-radius: 10px;
  background-color: white;
  font-size: 1.1rem;
  color: gray;
  cursor: pointer;

}
.loading-btn:hover {

  transform: scale(1.1);

}

/* ----------------------------------------------------------------------------------------- */

/* ---------------------------------SIDENAV--------------------------------------------------- */


.sideNav { 
   
   position: fixed;
   left:0%;
   top:0%;
   bottom:0%;
   background-color: rgba(21, 131, 131, 0.733);
   width: 25%;
   
}

.sideNav-menu {
  
  
   padding-top: 40px;
   width: 90%;
  
}

.sideNav-menu li {
  
  position: relative;
  margin-top: 20px;
  margin-left: 30px;
  padding: 10px 5px;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-family: 'Love Ya Like A Sister', cursive;
  cursor: pointer;

 
}

.sideNav-menu li:hover {
  
  transform: scale(1.1);
}

.cup {
  display: none;
}

.cup.active {

  display: inline-block;
  position: absolute;
  left:-15%;
  top:0%;
 
}

/* --------------------------------------------------------------------------------------- */

/* ------------------------IMAGES CONTAINER---------------------------------------------- */

.container {

  display: none;
}

.container.active {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 10vw);
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 25%;
  width: 75%;
  z-index: -1;
  overflow: hidden;

}

.img-smaller {
  
 width: 100%;
 height: 105%;
 object-fit: cover;
 border: none;

}

 /* .img-smaller:hover {
  
 
 border: 3px solid teal;
 
 } */

.img-1 {

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  
  
}

.img-3 {

  grid-row-start: 2;
  grid-row-end: 4;

}

/* .img-7 {

  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
} */

.img-8 {

  grid-row-start: 3;
  grid-row-end: 5;
}

.img-10 {

  grid-row-start: 4;
  grid-row-end: 6;
}

.img-11 {

  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img-12 {

  grid-row-start: 3;
  grid-row-end: 5;
}

.img-13 {

  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;

}

/* ------------------------------------------------------------------------------------------- */
/* -------------------------------ABOUTUS----------------------------------------------------- */

.content-container {

  position: absolute;
  top: 0%;
  right: 0%;
  left: 25%;
  width: 74%;
  bottom:0%;
  padding: 5px;
  background-color: #f1c1123d;
  
}

.about {


  height: 150%;
}

.food {

  height: 150%;
}

.drinks {

  height: 70%;
}



.content-header {

  text-align: center;
  margin-top: 100px;
  font-family: 'Love Ya Like A Sister', cursive;
}

.content-paragraph-box {

  padding-top: 20px;
  width: 60%;
  margin: auto;
}

.content-paragraph-box p {

 font-size: 1.2rem;
 font-family: 'karla', sans-serif;
 line-height: 2;
}

/* ----------------------------------------------------------------------------------------- */

/* -----------------------------------MENU BTN PAGE----------------------------------------- */

.menu-btn-wrapper {

  width: 100%;
  /* margin-top: 150px; */
  padding: 10px;
  text-align: center;
  
}

.menu-btn {

  padding: 10px 15px;
  margin: 0px 20px;
  width: 100px;
  border-radius: 10px;
  background: linear-gradient(25deg, rgba(21, 131, 131, 0.733), rgba(142, 219, 219, 0.733));
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
  font-family: 'love ya like a sister', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition-duration: 0.5s;
  

}


.menu-btn:hover {

  box-shadow: 0 10px 15px rgb(0 0 0 / 0.2);
  background: linear-gradient(25deg, rgba(142, 219, 219, 0.733), rgba(21, 131, 131, 0.733));
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.1);
}

.cocktail {

  position: absolute;
  right:15%;
  top: 54%;
}

/* .red-wine {

  position: absolute;
  right:43%;
  top: 17.5%;
}

.beer {

  position: absolute;
  right:45%;
  top: 17%;
}

.orangej {

  position: absolute;
  left: 18.5%;
  top: 16.8%;
}

.bourbon {

  position: absolute;
  left: 20%;
  top: 44.7%;
}

.lettuce {

  position: absolute;
  left: 18%;
  top: 67%;
} */

.egg {

  position: absolute;
  left: 35%;
  top: 50%;
}


/* ---------------------------------MENU FOOD----------------------------------------------- */

.menu-box {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 10px 30px;
  margin: 80px auto;
  width:80%;

}
.menu-header {
  font-family: 'love ya like a sister', cursive;
  margin: auto;
}

.border {

  background-color: rgba(21, 131, 131, 0.733);
  border: 2px solid black;
  padding:10px;
  margin:-20px -20px 0px -20px;
}


.brunch-heading {

  font-family: 'karla', cursive;
  text-decoration: underline;
  
}

.food-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.food-item {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -20px;
  
}

.food-item.extras {

  margin-top: -5px;
  border: 2px solid black;
  border-radius: 5px;
  width: 90%;
  padding: 5px;
}

.food-item.pastries {

  margin-top: -5px;
  border: 2px solid black;
  border-radius: 5px;
  width: 90%;
  padding: 5px;
}

.item-sub {

  font-family: 'love ya like a sister', sans-serif;

}

.item-description {

  margin-top: -20px;
  grid-row-start: 2;
  font-family: 'karla', sans-serif;

}

.item-price {
  margin-left: 30px;
  font-weight: bold;
}


/* ----------------------------------------------------------------------------------- */

/* ------------------------------DRINKS MENU------------------------------------------ */


.drink-box {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    border: 2px solid black;
    background-color: white ;
    border-radius: 5px;
    padding: 10px;
    margin: 40px auto;
    width: 80%;
    grid-gap: 5px;
  
  
}
.drink-heading {

  font-family: 'karla', cursive;
  margin: auto;
 
}

.day-start-head {

  margin-top: 20px;
}

.drink-square {
  display: flex;
  flex-direction: column;
  justify-self: stretch;
  align-self: stretch;
  text-align: start;
  border: 2px solid black;
  background-color: rgba(21, 131, 131, 0.733);
}

.para-description {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-left: 20px;
  
}

.harder-stuff {

  margin-top: 30px;
}

.para-description-cocktails {

  margin-bottom: 60px;
  margin-left: 10px;
  font-family: 'karla', sans-serif;
  
}


.para-description p {

  font-family: 'karla', sans-serif;
}




.sub-drink {

  font-weight: bold;
  font-family: 'Lobster Two', cursive;
}

.price {

  font-weight: bold;
  margin-left: 20px;
}

.happy-hour {

  grid-column: 2;
  grid-row: 2;
}

.happy-hour-style {

  margin-top: 40px;
  font-size: 4rem;
  font-family:'Lobster Two', sans-serif ;
  text-align: center;
  color: white;
}

.sub-happy-hour {

  margin-top: -50px;
  text-align: center;
}


/* ------------------------------------------------------------------------------------ */
/* -------------------------------------CONTACT---------------------------------------- */



.contact-info-wrapper {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}


.location , .contact, .hours {

  border-right: 2px solid black;
  margin-top: 50%;
  padding: 30px;
  text-align: center;
}

.hours {
   
  border: none;
}

.contact-header {

  font-family: 'love ya like a sister', cursive;
}

.contact-info {

  font-family: 'karla', cursive;
}